<div class="container">
  <h2>About FIND YOUR MATCH &#9733;</h2>
  <p>This project is an assignment from the Codaisseur Acadamy. The assignment was to make an app for teachers. The app automatically generates pairs of all the students.</p>

</div>
