<% view_date = Date.today %>
<% view_week_days = (view_date.at_beginning_of_week..view_date.at_end_of_week) %>
<div class="row">
  <% view_week_days.each do |day| %>
  <div class="col-xs-1 box text-center">
    <p class="day-of-the-week"><%= day.strftime("%A") %></p>
    <p><%= day.strftime("%d/%m/%Y") %></p><hr>
          <%  matchday = MatchDay.where(day: day).first %>
        <% if matchday.nil? %>
          <%= link_to "Add a new match", matchdays_path(day: day, group: Group.first), class:"text-center", method: :post %>
        <% else %>
          <% matchday.matches.each do |match| %>
            <p><%=  "#{match.student1.first_name} - #{match.student2.first_name}"%></p>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>
