<% if current_user.is_admin? %>
  <div class="container-liquid col-xs-offset-1">
    <%= render 'show_week' %>
  </div>
<% else %>
  <div class="container">
    <%= render 'show_student' %>
  </div>
<% end  %>
