@import 'bootstrap-sprockets';
@import "bootstrap";

.box {
  width: 160px
}

.day-of-the-week {
  font-weight: bold;
}

.shift-week {
  font-size: 42px;
  color: black;
}

a.shift-week:hover {
  text-decoration: none;
  color: black;
}

a.shift-week:active {
  text-decoration: none;
  color: black;
}

a.shift-week:visited {
  text-decoration: none;
  color: black;
}
