<% if current_user.is_admin? %>
  <div class="container">
    <%= render 'match_days/show_week' %>
  </div>
<% else %>
  <div class="container">
    <%= render 'match_days/show_student' %>
  </div>
<% end  %>
